* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f0f0f0;
    /* Color de respaldo */
    background-image: url(/assets/img/background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
}

.main-conteiner {
    width: 400px;
    background-color: rgba(28, 40, 94, 0.6);
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    color: white;
}

.main-conteiner a {
    display: flex;
    color: white;
    text-decoration: none;
    justify-content: center;
    margin-top: 20px;
}

.flexClass {
    position: relative;
    display: flex;
    align-items: center;
}

.main-conteiner h2 {
    display: flex;
    color: white;
    text-decoration: none;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 25px;
}


#date-form p {
    margin-top: 8px;
}


#date-form form h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: rgb(28, 40, 94);
}

#date-form input, select {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    font-size: 16px;
    outline: none;
}

#date-form button {

    display: flex;
    align-items: center;
    margin: auto;
    
    padding: 10px 40px;
    margin-top: 20px;
    border: none;
    font-size: 14px;
    background: rgb(28, 40, 94);
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
}


/* Media Queries for responsiveness */
@media screen and (max-width: 600px) {
    .main-conteiner {
        width: 90%;
        /* Adjusted width for smaller screens */
    }

    #date-form button {
        margin-top: 20px;
        /* Adjusted margin for smaller screens */
    }
}