* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f0f0f0;
    /* Color de respaldo */
    background-image: url(/assets/img/background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
}

.main-conteiner {
    background-color: rgba(28, 40, 94, 0.6);
    margin: auto;
    margin-top: 100px;
    color: white;

    position: relative;
    width: 40%;
    height: 100%;
    max-width: 100%;
    min-height: 30%;

    display: flex;

    border-radius: 0px;

}



section {
    flex: 1;
    margin: 0px;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 80px;
    margin-bottom: 20px;
}

.main-conteiner a {
    display: flex;
    color: white;
    text-decoration: none;
    justify-content: center;
    margin-top: 20px;
}

.flexClass {
    position: relative;
    display: flex;
    align-items: center;
}

h2 {
    display: flex;
    color: white;
    text-decoration: none;
    justify-content: left;
    margin-bottom: 20px;
    font-size: 25px;
}

section {
    width: 80%;
}


p {
    margin-top: 8px;
}

form h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: rgb(28, 40, 94);
}

input,
select {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    font-size: 16px;
    outline: none;
}


#list{
    text-align: center;
}

#report-btn {
    margin-top: 40%;
}


button {

    display: flex;
    align-items: center;
    margin: auto;

    padding: 10px 40px;
    margin-top: 20px;
    border: none;
    font-size: 14px;
    background: rgb(28, 40, 94);
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
}


/* Media Queries for responsiveness */
@media screen and (max-width: 600px) {
    .main-conteiner {
        width: 90%;
        /* Adjusted width for smaller screens */
    }

    #date-form button {
        margin-top: 20px;
        /* Adjusted margin for smaller screens */
    }
}